{
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('100m') }}",
    "max-file": "{{ docker_log_max_file | default('3') }}"
  },
  "storage-driver": "overlay2",
  "live-restore": true,
  "userland-proxy": false,
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 65535,
      "Soft": 65535
    }
  },
  "metrics-addr": "0.0.0.0:9323",
  "experimental": true
}
